@import './keyframes.scss';
@import './sales.scss';
@import './style.scss';
@import './mixin.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.widget-icon {
  .st0{display:none;fill-rule:evenodd;clip-rule:evenodd;fill:#616160;}
	.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
}

.analitica {
  .st0{fill:#FFFFFF;}

}

.controls {
  .st0{display:none;fill-rule:evenodd;clip-rule:evenodd;fill:#616160;}
  .st1{fill:#FFFFFF;}

}

.price-icon {
  .st0{display:none;fill-rule:evenodd;clip-rule:evenodd;fill:#616160;}
  .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

}

.complex-icon {
	.st0{display:none;fill:#616160;}
	.st1{fill:#FFFFFF;}

  @media (max-width: 500px) {
    .st1 {
      fill:#44ac33;
    }
  }
}

.delivery-icon {
  .st0{display:none;fill:#616160;}
	.st1{fill:#FFFFFF;}

  @media (max-width: 500px) {
    .st1 {
      fill:#44ac33;
    }
  }
}

.accounting-icon {
  .st0{display:none;fill:#616160;}
	.st1{fill:#FFFFFF;}

  @media (max-width: 500px) {
    .st1 {
      fill:#44ac33;
    }
  }
}

.promo-icon {
  .st0{display:none;fill:#616160;}
	.st1{fill:#FFFFFF;}

  @media (max-width: 500px) {
    .st1 {
      fill:#44ac33;
    }
  }
}

.planning-icon {
  .st0{fill:#FFFFFF;}
  @media (max-width: 500px) {
    .st0 {
      fill:#44ac33;
    }
  }

}



.about {
  padding-top: 70px;
  padding-bottom: 40px;
  background-image: url('../img/about_banner.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.about__desc-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 65px;
}

.about__desc-metka {
  background-color: $font-color-green;
  width: 100%;
  height: 75px;
  margin-top: 10px;
  margin-right: 30px;
  width: 6%;
}

.about__desc {
  color: $font-color-white;
  font-size: 20px;
  line-height: 32px;
  width: 75%;

}

.about__values-container {
  margin-bottom: 70px;
}

.about__values-title {
  @include block-title ();
  color: $font-color-white;
  margin-bottom: 20px;
}

.about__value-list-part-text {
  color: $font-color-white;
  font-size: 20px;
  line-height: 27px;
  width: 80%;
}

.about__value-list-part:not(:last-child) {
  margin-bottom: 15px;
}

.about__value-list-part {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.list-marker {
  min-height: 40px;
  width: 5px;
  background-color: $font-color-green;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: calc(6% + 25px);
}

.about__advantages-title {
  @include block-title ();
  color: $font-color-white;
}

.about-bottom {
  background-color: #313130;
  padding-bottom: 100px;
}

.about-bottom__container {

  max-width: 1500px;
  min-width: auto;
  margin: 0 auto;
  position: relative;
  padding-left: 170px;
  padding-right: 170px;
  margin-bottom: 40px;
}


.about__advantages-swiper-slide {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide-content-title {
  font-size: 18px;
  font-weight: 900;
  color: $font-color-green;
  padding-bottom: 5px;
  border-bottom: 1px solid $font-color-dark-grey;
  text-align: center;
  width: 95%;
  // margin: 0 auto;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.swiper-slide-content-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: $font-color-grey;
  width: 90%;
}

.swiper-slide-content {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  height: 100%;
}

.swiper-slide-img-block {
  max-height: 95px;
  min-height: 95px;
  position: relative;
  background-color: #797979;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  svg {
    // position: absolute;
    // left: calc(50% - 20%);
    // top: 5%;
    // height: 90%;
    // width: 40%;
    width: 40%;
    z-index: 100;
  }
}


.slider-square {
  position: absolute;
  left: 10%;
  bottom: 50%;
  height: 70%;
  width: 25%;
  background-color: #afafaf;
  z-index: 1;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: transform;
}



.about__adv-swiper-button-next,
.about__adv-swiper-button-prev {
  width: 65px!important;
  height: 65px!important;
  background-color: #363635;
  border-radius: 50%;
  border: 2px solid rgba($font-color-white,0.1);
  color: white;
}

.about__adv-swiper-button-next:after, .about__adv-swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 24px!important;
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}


.about-adv-pagination {
  bottom: -40px!important;
  left: 0;
  width: 100%;
  display: none;
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background: white!important;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    opacity: 0.8;
  }
}

.about__comand-title {
  @include block-title ();
  color: $font-color-white;
  margin-bottom: 20px;
}

.about__comand-swiper-photo {
    height: 188px;
    width: 80%;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #afafaf;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;

    
    
}

.about__comand-swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: sepia(0);
  transition: filter 0.3s ease-in-out;
}


.about__comand-swiper-slide:hover .about__comand-swiper-img   {
  filter: sepia(1);
}

.about__comand-swiper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.about__comand-swiper-content-title {
  font-size: 25px;
  font-weight: 800;
  border-bottom: 2px solid $font-color-green;
  margin-bottom: 20px;
  color: $font-color-white;
}

.about__comand-swiper-content-desc {
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.about__comand-button-next,
.about__comand-button-prev {
  width: 65px!important;
  height: 65px!important;
  background-color: #363635;
  border-radius: 50%;
  border: 2px solid rgba($font-color-white,0.1);
  color: white;
}

.about__comand-button-next:after, .about__comand-button-prev:after {
  font-family: swiper-icons;
  font-size: 24px!important;
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}


@media (max-width: 1093px) {
  .swiper-slide-content-title {
    font-size: 16px;
  }

  .about-bottom__container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1026px) {

.about-bottom {
  padding-bottom: 50px;
}

.about__desc {
  color: #fefefe;
  font-size: 18px;
  line-height: 32px;
  width: 100%;
  }

  .about__value-list-part-text {
    font-size: 18px;
    line-height: 27px;
    width: 100%;
  }

  .about__value-list-part:not(:last-child) {
    margin-bottom: 10px;
  }

  .about__adv-swiper-button-next, .about__adv-swiper-button-prev {
    width: 45px !important;
    height: 45px !important;
  }

  .about__adv-swiper-button-next:after, .about__adv-swiper-button-prev:after {

    font-size: 18px !important;
  }

  .about__comand-button-next, .about__comand-button-prev {
    width: 45px !important;
    height: 45px !important;
  }

  .about__comand-button-next:after, .about__comand-button-prev:after {

    font-size: 18px !important;
  }
}

@media (max-width: 950px) {

  .about__comand-swiper-photo {
    height: 170px;
  }

}

@media (max-width: 900px) {
  
  .about__comand-swiper-photo {
    height: 150px;
  }

  .about__comand-swiper-content-title {
    font-size: 20px;
  }

  .about__comand-swiper-content-desc {
    font-size: 14px;
  }

  .swiper-slide-img-block {
    max-height: 70px;
    min-height: 70px;
  }

  .about__advantages-swiper-slide {
    padding-top: 10px;
    padding-bottom: 10px;
  } 

  .swiper-slide-content {
    padding-bottom: 30px;
  }

  .swiper-slide-content-title {
    font-weight: 800;
    font-size: 14px;
}

} 

@media (max-width: 850px) {

  .about {
    padding-bottom: 30px;
  }


  .sales__block-title-container {
    margin-bottom: 30px;
  }

  .sales__block-title {
    font-size: 30px;
  } 

  .about__desc {
    font-size: 16px;
    line-height: 27px;
}

  .sales__block-title-border {
    width: 55px;
  }

  .about__values-title {
    font-size: 22px;
    font-weight: 800;
    padding-left: calc(6% + 30px);
    color: #fefefe;
    margin-bottom: 15px;
  }

  .about__value-list-part-text {
    font-size: 16px;
    line-height: 24px;
  }

  .swiper-slide-img-block {
    max-height: 60px;
    min-height: 60px;
  }

  .swiper-slide-content-desc {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  } 

  .about__comand-swiper-content-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about__comand-swiper-content-desc {
    font-size: 12px;
  } 

}

@media (max-width: 800px) { 

  .sales__hero {
    padding-top: 200px;
  }

  .about__desc-container {
    margin-bottom: 45px;
  }

  .swiper-slide-content-desc {
    padding-left: 25px;
    padding-right: 25px;
  } 

  .slider-square {
    left: 25%;
    width: 18%;
  }

  .about__comand-swiper-photo {
    height: 140px;
  }

}

@media (max-width: 750px) { 

  .sales__block-title-border {
    width: 40px;
}

  .about__comand-swiper-content-desc {
    font-size: 10px;
  }

  .swiper-slide-content-desc {
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__desc {
    font-size: 14px;
  }

  .about__value-list-part-text {
    font-size: 14px;
  }

  .list-marker {
    min-height: 30px;  
    margin-right: calc(6% + 15px);
    width: 4px;
  }

  .sales__block-title {
    font-size: 25px;
  }

  .about__desc-metka {
    margin-right: 20px;
  }

  .about__values-title {
    font-size: 20px;
    padding-left: calc(6% + 20px);
  }

  .about__comand-swiper-photo {
    height: 120px;
    margin-bottom: 10px;

  }

  .swiper-slide-img-block {
    max-height: 55px;
    min-height: 55px;
  }

  .swiper-slide-content {
    padding-bottom: 25px;
  }

  .about-bottom {
    padding-bottom: 20px;
  }

 }

 @media (max-width: 699px) {

  .about__comand-swiper-photo {
    height: 180px;
  }
  
 }

 @media (max-width: 660px) {

  .about__comand-swiper-photo {
    height: 160px;
  }
  
 }

 @media (max-width: 650px) {

  .about__comand-swiper-photo {
    height: 150px;
  }
  
 }

 @media (max-width: 600px) {

  .about {
    padding-top: 50px;
    padding-bottom: 20px;
  }  

  .about-bottom__container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .about__adv-swiper-button-next, .about__adv-swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
  }

  .about__adv-swiper-button-next:after, .about__adv-swiper-button-prev:after {
    font-size: 14px !important;
  }

  .about__comand-button-next, .about__comand-button-prev {
    width: 35px !important;
    height: 35px !important;
  }

  .about__comand-button-next:after, .about__comand-button-prev:after {
    font-size: 14px !important;
  }

  

  .about__comand-swiper-photo {
    height: 165px;
  }

  .sales__block-title-container {
    margin-bottom: 20px;
  }

  // .about__value-list-part-text {
  //   font-size: 16px;
  //   line-height: 20px;
  // } 

  // .about__desc {
  //   font-size: 12px;
  //   line-height: 24px;
  // }

  .about__desc-container {
    margin-bottom: 25px;
  }
  
 }


 @media (max-width: 570px) {

  .about__comand-swiper-photo {
    height: 150px;
    }

  }

  @media (max-width: 529px) {

    .about-adv-pagination {
      display: block;
     }

    .about__comand-swiper-photo {
      height: 140px;
    }

    .adv-container {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 70px;
    }

    .about__advantages-title {
      text-align: center;
    }

    .about__comand-title {
      text-align: center;
    }

    .about__values-title {
      font-size: 18px;
      padding-left: calc(6% + 20px);
    }


    .about__adv-swiper-button-next, .about__adv-swiper-button-prev {
      display: none;
    }
    
  
}

@media (max-width: 500px) { 

  .about-bottom__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .swiper-slide-content-title {
    font-size: 12px;
  }

  .about__advantages-swiper-slide {
    flex-direction: column-reverse;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .swiper-slide-img-block {
    background-color: transparent;
  }

  .analitica .st0 {
    fill: $font-color-green;
  }

  .widget-icon .st1 {
    fill: $font-color-green;
  }

  .controls .st1 {
    fill: $font-color-green;
  }

  .price-icon .st1 {
    fill: $font-color-green;
  }

  .swiper-slide-content-desc {
    line-height: 16px;
  }

  .swiper-slide-content {
    padding-bottom: 0px;
  }

  .slider-square {
    display: none;
  } 
}

@media (max-width: 470px) { 
 
  .about__comand-button-next, .about__comand-button-prev {
    
    top: 10%;

  }

  .about__comand-button-next {
    right: 10px;
  }

  .about__comand-button-prev {
    left: 10px;
  }
  
}

@media (max-width: 450px) {  
  .about-bottom__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 420px) {  
  .about-bottom__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .swiper-slide-img-block {
    max-height: 50px;
    min-height: 50px;
  }

  .swiper-slide-content-title {
    font-size: 10px;
  }

  .swiper-slide-content-desc {
    
    padding-left: 10px;
    padding-right: 10px;
    line-height: 14px;
  }

  .about__comand-title {
    margin-bottom: 40px;
  }

  .about__comand-button-next, .about__comand-button-prev {
    top: 0;
  }

}

@media (max-width: 400px) {
  .about__values-title {
    font-size: 16px;
  }

  .about__advantages-title {
    font-size: 14px;
  }

  .about__comand-title {
    font-size: 14px;
  }

  .about__comand-swiper-photo {
    height: 130px;
  }

  

  .sales__block-title {
    font-size: 20px;
  }

  .sales__block-title-border {
    padding-top: 3px;
    margin-right: 15px;
    width: 30px;
    margin-bottom: 7px;
  }  

  .sales__block-title-container {
    margin-bottom: 10px;
  }


  .list-marker {
    width: 2px;
    min-height: 25px;
  }

  .about__value-list-part:not(:last-child) {
    margin-bottom: 5px;
  }

  .about__comand-button-next, .about__comand-button-prev {
    width: 25px !important;
    height: 25px !important;
  }

  .about__comand-button-next:after, .about__comand-button-prev:after {
    font-size: 10px !important;
  }

  .about__comand-button-next {
    right: 30px;
  }

  .about__comand-button-prev {
    left: 30px;
  }
  .about__desc-container {
    margin-bottom: 15px;
   }
}


@media (max-width: 350px) {






 }

