@import './keyframes.scss';
@import './mixin';
@import './sales.scss';
@import './style.scss';
@import './portfolio.scss';

.blog-page {

  background-color: white;
  padding-top: 55px;
  padding-bottom: 20px;

}