@import './keyframes.scss';
@import './mixin';
@import './sales.scss';
@import './style.scss';
@import './portfolio.scss';

.blog-page {

  background-color: white;
  padding-top: 55px;
  padding-bottom: 50px;



  .blog-page__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 800;
    color: #333332;
  }

  .blog-page__container-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 40px;
  }

  .blog-page__title-border {
    width: 6%;
    height: 5px;
    background-color: $font-color-green;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .blog-page__list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-row-gap: 30px;
  }

  .blog-page__list-part {
    height: 320px;
    position: relative;

    a {
       display: block;
       width: 100%;
       height: 100%;
    }
  }

  .blog-page__list-part-img {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blog-page__list-part-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.702);
    color: $font-color-white;
    font-size: 15px;
    font-weight: 800;
    line-height: 17px;
    transition: background-color 0.3s ease-in-out;
  }


  .blog-page__list-part:hover .blog-page__list-part-content,
  .blog-page__list-part:focus .blog-page__list-part-content {
    background-color: rgba(0, 0, 0, 0.502);
  }

  .blog-page__list-part:active .blog-page__list-part-content {
    background-color: rgba(0, 0, 0, 0.902);
  }
}

@media (max-width: 1024px) {

  .blog-page__hero {
    padding-top: 180px;
  }


  .blog-page__title-hero {
    width: 100%;
  }

  .blog-page__desc-hero {
    width: 70%;
  }

  .blog-page {
    padding-top: 45px;
  }

  .blog-page .blog-page__title {
    font-size: 35px;
  }

  .blog-page .blog-page__container-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) { 

  .blog-page .blog-page__list-part-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog-page .blog-page__list {
    grid-template-columns: 32% 32% 32%;
  }

  .blog-page .blog-page__list-part {
    height: 300px;
  }

  .blog-page__desc-hero {
    width: 80%;
  }
}

@media (max-width: 850px) {

  .blog-page .blog-page__title {
    font-size: 32px;
  }

  .blog-page .blog-page__title-border {
    margin-bottom: 5px;
  }
}

@media (max-width: 800px) { 

  .blog-page .blog-page__list-part-content {
    font-size: 13px;
  }

}

@media (max-width: 750px) {

  .blog-page .blog-page__list {
    grid-template-columns: 47% 47%;
  }

  .blog-page .blog-page__list-part {
    height: 320px;
  }

  .blog-page__hero {
    padding-bottom: 100px;
  }

  .blog-page .blog-page__title {
    font-size: 30px;
  }

  .blog-page .blog-page__title-border {
    margin-bottom: 7px;
    width: 7%;
 }
}

@media (max-width: 650px) {

  .blog-page .blog-page__container-title {
    margin-bottom: 20px;
  }

  .blog-page {
    padding-top: 30px;
  }

  .blog-page__desc-hero {
    width: 100%;
  }

  .blog-page__hero {
    padding-top: 150px;
    padding-bottom: 70px;
  }

  .blog-page .blog-page__list {
    grid-template-columns: 48% 48%;
  }
}


@media (max-width: 600px) {

  .blog-page .blog-page__title {
    font-size: 25px;
  }

  .blog-page .blog-page__title-border {
    width: 10%;
    height: 3px;
  }

  .blog-page .blog-page__list-part {
    height: 300px;
  }
}


@media (max-width: 550px) { 

  .blog-page .blog-page__list-part-content {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .blog-page .blog-page__list-part {
    height: 290px;
  }
}

@media (max-width: 500px) {

  .blog-page .blog-page__list-part {
    height: 260px;
  }

  .blog-page {
    padding-top: 20px;
    padding-bottom: 30px;
 }

 .blog-page .blog-page__list {
  grid-template-columns: 49% 49%;
  }

}

@media (max-width: 480px) {

  .blog-page .blog-page__list {
    grid-template-columns: 100%;
 }

 .blog-page .blog-page__list-part {
  height: 240px;
  }

  .blog-page .blog-page__list-part-content {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

@media (max-width: 417px) {

  .blog-page .blog-page__title-border {
    margin-bottom: 4px;
  }

  .blog-page .blog-page__title {
    font-size: 20px;
  }

  .blog-page .blog-page__list-part-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .blog-page .blog-page__list-part {
    height: auto;
  }

  .blog-page .blog-page__list-part-img {
    height: 200px;
  }

  .blog-page .blog-page__list-part-content {
    position: relative;
    background-color: #2b2b2b;
  }


}

@media (max-width: 380px) {




 }
