@import './style.scss';
@import './keyframes.scss';

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
}

.sales__hero {
  background-image: url('../img/sales_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 230px;
  padding-bottom: 70px;
}

.sales-hero__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: $font-color-white;
  font-size: 55px;
  margin-bottom: 35px;
}

.sales-hero__bottom-description{
  font-size: 16px;
  line-height: 19px;
  color: $font-color-white;
  font-weight: 400;
  width: 60%;
  letter-spacing: 1.5px;
}


.sales__block {
  padding-top: 70px;
  padding-bottom: 0px;
  background-image: url('../img/sales_block.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 980px;
  background-color: white;
}

.sales__block-title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  align-items: flex-end;
}

.sales__block-title {
  @include main-title();
  margin-bottom: 0;
  color: $font-color-white;
  line-height: 30px;
  margin-block-start: 0;
   margin-block-end: 0;
}

.sales__block-title-border {
  padding-top: 5px;
  margin-right: 20px;
  width: 75px;
  background-color: $font-color-green;
}

.sales__block-list-container {

  padding-left: 1px;
  padding-right: 1px;
  background-color: #a7a6a6;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.sales__block-link {
  display: block;
  
  color: white;
  @include fixed-btn();
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.sales__block-list {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-between;
  grid-row-gap: 40px;
  margin-top: 100px;

}

.sales__block-list-part {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &:hover {

    .sales__block-list-img-block {
      filter: grayscale(1);
      img {
        transform: scale(1.1);
      }
    }

    .sales__list-content-date {
      -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      -moz-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      -o-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      animation: 1.2s ease-in-out 0s normal none infinite running trambling;
    }
  }
  &:focus {

    .sales__block-list-img-block {
      filter: grayscale(1);
      img {
        transform: scale(1.1);
      }
    }

    .sales__list-content-date {
      -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      -moz-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      -o-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
      animation: 1.2s ease-in-out 0s normal none infinite running trambling;
    }
  }
}

.sales__list-content-date {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  color: $font-color-dark-grey;
}

.sales__block-list-img-block {
  position: relative;
  height: 220px;
  filter: grayscale(0);
  transition: filter 0.3s ease-in-out;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}

.sales__block-list-content-block {
  padding-top: 15px;
  // padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.sales__list-content-title {
  font-size: 16px;
  font-weight: 600;
  color: $font-color-grey;
  margin-bottom: 5px;
}

.sales__list-content-short-desc {
  font-size: 14px;
  color: $font-color-grey;
  margin-bottom: 5px;
}

.sales__block-list-content-block-text {
  margin-bottom: 25px;
}

.sales__list-content-desc {
 
  font-size: 14px;
  color: $font-color-grey;
}

@media (max-width: 1026px) { 


  .sales__hero {
    padding-bottom: 100px;
  }
  .sales-hero__title {
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 55px;
    width: 70%;
  }

  .sales__block-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-row-gap: 40px;
    margin-bottom: 45px;
  }

  .sales__list-content-date {
    font-size: 20px;
  }
 
}

@media (max-width: 870px) { 


  
  .sales-hero__title {
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 55px;
    width: 100%;
  }

  .sales-hero__bottom-description  {
    width: 80%;
  }

  .sales__block-list-img-block {
    height: 200px;
  }

  .sales__block-list-content-block {
    padding-bottom: 30px;
  } 

  .sales__list-content-title {
    font-size: 14px;
  }

  .sales__list-content-short-desc {
    font-size: 12px;
  }

  .sales__list-content-desc {
    font-size: 12px;
  }

  .sales__block-link {
    font-size: 12px;
  }
}


@media (max-width: 770px) { 
  .sales__list-content-date {
    font-size: 16px;
  }

  .sales__block-list-img-block {
    height: 180px;
}

}


@media (max-width: 755px) {

  .sales__hero { 
    padding-top: 200px;
    padding-bottom: 150px;
  } 

  .sales-hero__title {
    font-size: 40px;
    line-height: 40px;
  }

  .sales-hero__bottom-description  {
    letter-spacing: 0px;
  }

 }

 @media (max-width: 730px) {

  .sales__block-list-content-block {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
  } 

  .sales__list-content-date {
    bottom: 10px;
    font-size: 14px;
  }

  .sales__block-list {
    grid-template-columns: 32% 32% 32%;
  }
}

 @media (max-width: 700px) { 

  .sales__block-list-img-block {
    height: 150px;
  }
 }

 @media (max-width: 650px) {

  .sales-hero__title {
    
    font-size: 30px;
    line-height: 30px;
  }

  .sales__block-list {
    grid-template-columns: 47% 47%;
    grid-row-gap: 30px;
  }

}

@media (max-width: 525px) { 

  .sales-hero__bottom-description {
    font-size: 14px;
  }

  .sales__block-list-content-block-text {
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) { 
  .sales__block-list-img-block {
    height: 120px;
}
  
}

@media (max-width: 460px) { 
   
  .sales__block-list {
    grid-template-columns: 100%;
    
  }

  .sales__block-list-part {
    flex-direction: row;
}

  .sales__block-list-part {
    flex-direction: row;
  }

  .sales__block-list-img-block {
    height: 100%;
    width: 40%;
  }

  .sales__block-list-content-block {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 30px;
    width: 60%;
  }

  .sales__list-content-date {
    text-align: end;
    padding-right: 15px;
    font-size: 12px;
  }

  .sales__list-content-title {
    font-size: 12px;
  }

  .sales__list-content-desc {
    font-size: 10px;
  }

  .sales__list-content-short-desc {
    font-size: 10px;
  }
}

@media (max-width: 445px) { 

  .sales-hero__bottom-description {
    width: 100%;
    font-size: 12px;
  }

  .sales-hero__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) { 

  .sales__block-list-content-block {
    padding-left: 5px;
    width: 55%;
}

 }

// @media (max-width: 330px) {

//   body {
//     min-width: 350px;
//     overflow-x: scroll;
//   }

// }

