@import './mixin';
@import './keyframes.scss';
@import './sales.scss';
@import './about-company.scss';
@import './style.scss';
@import './modal-window.scss';

.watch {
  .st0{fill:#404040;}
  .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#404040;}
}

.safety {

.st0{fill:#404040;}

}    

.economy {
  .st0{
    fill:#404040;
  }

}


.skd__about-where-list-title {
  font-size: 20px;
  font-weight: 800;
  color: white;
  padding-left: calc(6% + 30px);
  margin-bottom: 10px;
}

.skd__about-where-desc {
  padding-left: calc(6% + 30px);
  width: 100%;
}

.skd__about:after {
  content: '';
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 25%;
    height: 50%;
    background-image: url('../img/rev-list.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.skd__about {
  background-image: url('../img/skd-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 65px;
  padding-bottom: 20px;
  position: relative;


  

  .about__desc-container {
    margin-bottom: 55px;
  }

  .about__desc-metka {
    background-color: white;
  }

  .about__desc {
    width: 70%;
  }

  .skd__about-where-container {
    margin-bottom: 30px;
  }


  .list-marker {
    min-height: 25px; 
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    // margin-left: 6%;
    margin-right: calc(25px);
  }

  .skd__about-where-list {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding-left: 6%;
  }

  .about__value-list-part-text {
    font-size: 18px;
  }


  .list-desc {
    margin-bottom: 20px;
  }

}

.skd__advantages {
  background-color: $background-ligth-grey;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -20%;
    right: 0;
    width: 25%;
    height: 50%;
    background-image: url('../img/rev-list.png');
    background-repeat: no-repeat;
    background-size: cover;
  }



  .skd__advantages-desc {
    width: 100%;
    padding-left: calc(6% + 30px);
    color: $font-color-grey;
    margin-bottom: 65px;
  }

  .skd__advantages-title {
    margin-bottom: 10px;
  }

  .about__desc-list {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-row-gap: 30px;
    justify-content: space-between;
  }

  .about__desc-list-part-img {
    width: 80%;
    min-height: 210px;
    max-height: 210px;
    background-color: white;
    box-shadow: 9px 11px 0px 4px $font-color-green;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    opacity: 0;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    svg {
      width: 100%;
      height: 100%;
      overflow: visible;
      transition: transform 1s ease-in-out;
    }

  }

  .rotate-internal,
  .rotate-external {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 1s ease-in-out;
  }



  

  .about__desc-list-part:hover .rotate-external {
    transform: rotate(360deg);
  }

  .about__desc-list-part:hover .rotate-internal {
    transform: rotate(-360deg);
  }

  .ruble {
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
  }

  .about__desc-list-part:hover .ruble {
    animation: rubleHorizonte 0.5s ease-in-out;
    fill: gray;
  }




  .about__desc-list-part:hover .tick {
    transform-origin: 40% 30%;
    fill: green;
  }

  .tick {
    transition: fill 0.3s ease-in-out;
  }

  .about__desc-list-part-content-title {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
    min-height: 50px;
  }

  .about__desc-list-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }

  .about__desc-list-part-content-desc {
    font-size: 20px;
    line-height: 32px;
    color: $font-color-dark-grey;
  }
}

.skd__skud {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;

  .skd__skud-desc {
    color: $font-color-dark-grey;
    margin-bottom: 40px;
  }

  .skd__skud-title {
    color: $font-color-dark-grey;
  }

  .skd__list-desc {
    margin-bottom: 60px;
  }

  .skd__skud-list {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    grid-row-gap: 25px;
  }

  .skd__skud-list-part {
    display: flex;
    flex-direction: row;
  }



  .reverse {
    flex-direction: row-reverse;
  }

  .skd__skud-list-part-content-block {
    
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;

  }

  .skd__skud-list-part-content-title {
    font-size: 20px;
    font-weight: 800;
    color: $font-color-green;
    margin-bottom: 45px;
    text-align: end;
  }

  .title-reverse {
    text-align: start;
  }

  .skd__skud-list-part-content-description {
    font-size: 18px;
    line-height: 26px;
    color: $font-color-grey;
    text-align: end;
  }

  .desc-reverse {
    text-align: start;
  }

  

  .skd__skud-list-part-img-block {
    width: 50%;
    height: 100%;
    min-height: 295px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


@media (max-width: 1026px) {

  .skd-main-title {
    width: 100%;
  }

  .skd__about .about__desc-container {
    margin-bottom: 25px;
}

  .skd__about .about__desc {
  width: 100%;
  }

  .skd__about .about__value-list-part-text {
    font-size: 16px;
   }

   .skd__advantages .skd__advantages-desc {
    margin-bottom: 35px;
  }

  .skd__advantages .about__desc-list-part-content-desc {
    font-size: 18px;
    line-height: 30px;
  }

  .skd__advantages .about__desc-list-part-img {

    min-height: 200px;
    max-height: 200px;
  }

  .skd__skud-desc {
    padding-left: 0px;
  }

  .skd__skud-title {
    padding-left: 0px;
  }

  .skd__advantages .about__desc-list-part-content-title {

    font-size: 18px;
    margin-bottom: 5px;
    min-height: 45px;
  }

  .skd__skud .skd__skud-list-part-img-block {
    width: 45%;
    min-height: 265px;
  }

  .skd__skud .skd__skud-list-part-content-block {

    width: 55%;
  }

  .skd__skud .skd__skud-list-part-content-title {
    margin-bottom: 25px;
  }
}

@media (max-width: 950px) { 

  .skd__skud .skd__skud-list-part-content-title {
    font-size: 18px;
  }

  .skd__skud .skd__skud-list-part-content-block {
    padding-left: 10px;
    padding-right: 10px;

  }

  .skd__skud .skd__skud-list-part-img-block {
    min-height: 235px;
  }

  .skd__skud .skd__skud-desc {
    margin-bottom: 20px;
  } 

  .skd__advantages-title {
    padding-left: 0;
  }

  .skd__advantages .skd__advantages-desc {
    padding-left: 0;
  }

  .skd__advantages .about__desc-list-part-content-desc {
    font-size: 16px;
    line-height: 28px;
  }

  .skd__advantages .about__desc-list-part-img {
    width: 90%;
  }
}

@media (max-width: 900px) {  

  .skd__advantages .about__desc-list-part-content-title {
    font-size: 16px;
    min-height: 40px;
  }

  .skd__advantages .about__desc-list-part-content-desc {
    font-size: 14px;
    line-height: 26px;
  }

  .skd__skud .skd__skud-list-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .skd__skud .reverse {
    flex-direction: column;
  }

  .skd__skud .skd__skud-list-part-content-block {
    width: 100%;
    margin-bottom: 25px;
  }

  .skd__skud .skd__skud-list-part-content-title {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
   }

  .skd__skud .title-reverse {
    text-align: center;
  }

  .skd__skud .skd__skud-list-part-img-block {
    width: 100%;
    min-height: 270px;
    max-height: 270px;
  }

  .skd__skud .skd__skud-list-part-img-block img {
    object-fit: fill;
  }

  .skd__skud .skd__skud-list-part-content-description {
    font-size: 16px;
    line-height: 24px;
    color: #3f4650;
    text-align: start;
  }

  .skd__skud .skd__skud-list {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: 50px;
  }

  .skd__skud .skd__skud-desc {
    margin-bottom: 50px;
  }

}



@media (max-width: 850px) {   

  .skd__advantages {
    padding-top: 40px;
  }

  .skd__advantages .about__desc-list {
    grid-template-columns: 30% 30% 30%;
  }

  .skd__advantages .about__desc-list-part-img {
    min-height: 180px;
    max-height: 180px;
  } 

  .skd__skud .skd__skud-desc {
    margin-bottom: 20px;
  }

  .skd__about .about__value-list-part-text {
    font-size: 14px;
  }

  .skd__about .list-marker {
    min-height: 25px;
    width: 4px;
  }

  .skd__advantages .about__desc-list-part-img {
    box-shadow: 4px 4px 0px 4px #44ac33;
}

}

@media (max-width: 750px) {

  .skd__about {

    padding-top: 35px;
  }

  .skd__advantages .about__desc-list-part-img {
    margin-bottom: 20px;
  }

  .skd__about-where-desc {
    padding-left: calc(6% + 20px);

  }

  .skd__skud .skd__skud-list-part-content-title {
    font-size: 16px;
   }

   .skd__skud .skd__skud-list-part-img-block {

    min-height: 250px;
    max-height: 250px;
  }

  .skd__about-where-list-title {
    padding-left: calc(6% + 20px);
   }

   .skd__skud .skd__skud-desc {
    padding-left: 0px;
   }

   .skd__skud-title {
    padding-left: 0px;
   }

   .skd__skud .skd__skud-list {
    grid-row-gap: 30px;
  }
}

@media (max-width: 670px) {
  
  .skd__advantages .about__desc-list-part-img {
    min-height: 150px;
    max-height: 150px;
  }

  .skd__advantages .about__desc-list-part-content-title {
    font-size: 14px;
    min-height: 40px;
    min-height: 35px;
  }

  .skd__advantages .about__desc-list-part-content-desc {
    font-size: 12px;
    line-height: 24px;
  }
}

@media (max-width: 650px) { 




  .skd__advantages .about__desc-list {
    grid-template-columns: 31% 31% 31%;
  }  

  .skd__advantages .skd__advantages-desc {
    margin-bottom: 15px;
  }



  .skd__advantages .about__desc-list-part-img {
    width: 80%;
  }

  .skd__skud .skd__skud-list-part-content-description {
    font-size: 14px;
    line-height: 22px;
  }

  .skd__skud .skd__skud-list-part-img-block {
    min-height: 200px;
    max-height: 200px;
  }

  .skd__skud .skd__skud-list-part-content-title {

    margin-bottom: 10px;
  }

  .skd__skud-title {
    font-size: 18px;
    padding-left: 0;
  }

  .skd__skud .skd__skud-list-part-content-block {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;

  }

  .skd__about .skd__about-where-container {
    margin-bottom: 20px;
  }

  .skd__about .list-desc {
    margin-bottom: 10px;
  }

  .skd__about .about__value-list-part-text {
    font-size: 12px;
}

  .skd-main-title {
    line-height: 40px;
  }


}

@media (max-width: 640px) {  
  .skd__advantages .about__desc-list {
    grid-template-columns: 100%;
  }

  .skd__advantages .about__desc-list-part {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: start;
    // flex-direction: row;
  }

  .skd__advantages .about__desc-list-part-img {
    
    margin-bottom: 0;
    margin-right: 5%;
    min-height: 130px;
    display: flex;
    max-height: 100%;
    align-items: center;
   
  }

  .skd__advantages .about__desc-list-part-content-title {
    min-height: auto;
    text-align: start;
  }

  .skd__skud .skd__skud-list {

    grid-template-columns: 100%;

  }

  .skd__skud .skd__skud-list-part {
    flex-direction: row-reverse;
  }

  .skd__skud .reverse {
    flex-direction: row-reverse;
  }

  .skd__skud .skd__skud-list-part-img-block {
    min-height: 150px;
    max-height: 100%;
    width: 30%;
  }

  .skd__skud .skd__skud-list-part-content-block {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 65%;
  }

  .skd__skud .title-reverse {
    text-align: start;
  }

  .skd__skud .skd__skud-list-part-content-title {
    text-align: start;
  } 
}

@media (max-width: 550px) {
  .skd__about .skd__about-where-list {
    padding-left: 5%;
  }

  .skd__about .about__value-list-part-text {
    line-height: 20px;
  }

}

@media (max-width: 510px) { 
  .skd__skud .skd__skud-list-part-content-title {
    font-size: 14px;
  }

  .skd__skud .skd__skud-list-part-content-description {
    font-size: 12px;
    line-height: 20px;
  }

  .skd__skud .skd__skud-list-part-img-block {
    min-height: 120px;
  }

  .skd__advantages .about__desc-list-part-img {

    min-height: 120px;
  }

  .skd__advantages .about__desc-list-part-content-desc {

    line-height: 22px;
  }

  .about__desc {
    line-height: 22px;
  }

  .skd-main-title {
    font-size: 25px;
  }
}

@media (max-width: 470px) { 
  .skd__advantages .about__desc-list-part-img {
    min-height: 100px;
    max-height: 100px;
  }


  .skd__about .skd__about-where-list {

    grid-template-columns: 50% 50%;

  }

 }

 @media (max-width: 460px) {  


  .skd__about-where-container .about__values-title {
    padding-left: 0;
  }

  .skd__about-where-desc {
    padding-left: 0;
  }

  .skd__about-where-list-title {
    padding-left: 0;
  }

  .skd__about .skd__about-where-list {
    padding-left: 0;
  }

  .skd__about .about__desc-metka {
    display: none;
  }

 }

 @media (max-width: 420px) {

  .skd__about .list-marker {
    margin-right: 15px;
  }

  .skd__about .list-desc {
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) { 
  .skd-main-title {
    font-size: 23px;
  }
}

@media (max-width: 400px) {

  .skd__about-where-list-title {
    font-size: 18px;
  }

  .skd__advantages .about__desc-list-part-img {
    min-height: 90px;
    max-height: 90px;
}

}

@media (max-width: 390px) {

  .skd__about .list-marker {
    width: 3px;
    margin-right: 10px;
  }

  .skd-main-title {
    font-size: 23px;
    line-height: 30px;
  }


 }

