@font-face {
  font-family: "monserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff2"), url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "monserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "monserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "monserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.list-no-marker {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.btn {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.link {
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "monserrat";
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: azure;
  position: relative;
}

.fixed-btn {
  position: fixed;
  right: 0;
  z-index: 1000;
  top: 250px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  color: #fefefe;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(160, 165, 168);
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}
.fixed-btn:hover {
  background-color: rgba(68, 172, 51, 0.8);
}
.fixed-btn:focus-visible {
  background-color: rgba(68, 172, 51, 0.8);
}
.fixed-btn:active {
  background-color: rgb(68, 172, 51);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: rgba(18, 21, 17, 0.388);
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.header .header__logo {
  display: block;
}
.header .header__logo svg {
  width: 133px;
  height: 46px;
}
.header .header__container {
  display: grid;
  grid-template-columns: 12% 87%;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.header .header__nav-list-part {
  position: relative;
}
.header__nav-border-hover {
  position: absolute;
  height: 5px;
  background-color: transparent;
  width: 100%;
  bottom: -40px;
  left: 0px;
  transition: background-color 0.3s ease-in-out;
}
.header .header__nav-list-part:focus .header__nav-border-hover,
.header .header__nav-list-part:hover .header__nav-border-hover {
  background-color: rgba(68, 172, 51, 0.7);
}
.header .header__nav-list-part:active .header__nav-border-hover {
  background-color: rgb(68, 172, 51);
}
.header .nav-btn {
  font-size: 12px;
  color: #fefefe;
  letter-spacing: 2px;
}
.header .nav-dropdown {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  top: calc(100% + 40px);
  left: 0;
  min-width: 100%;
  max-width: auto;
  height: auto;
  background-color: rgba(24, 42, 24, 0.702);
}
.header .nav-dropdown-active {
  display: flex;
}
.header .nav-dropdown li {
  color: #fefefe;
  font-size: 12px;
  letter-spacing: 2px;
}
.header .nav-dropdown li:not(:last-child) {
  margin-bottom: 5px;
}
.header .dropdown-part {
  white-space: nowrap;
  line-height: 32px;
}

.hero {
  background-image: url("../img/Website-TeleGreen_mobile_slider (1).jpg");
  background-repeat: no-repeat;
  min-height: 960px;
  max-height: auto;
  background-size: cover;
  background-position: bottom;
  padding-top: 350px;
  padding-bottom: 325px;
}
.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #fefefe;
  font-size: 55px;
  margin-bottom: 35px;
}
.hero__top-description {
  color: #fefefe;
  font-weight: 400;
  font-size: 25px;
  line-height: 19px;
  margin-bottom: 55px;
  display: flex;
  align-items: center;
}
.hero__green-text {
  font-weight: 800;
  color: #44ac33;
  line-height: 19px;
  font-size: 25px;
  margin-left: 5px;
}
.hero__top-description-border {
  background-color: rgb(68, 172, 51);
  width: 63px;
  display: inline-block;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-right: 15px;
}
.hero__bottom-description {
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
  font-weight: 400;
  width: 60%;
  letter-spacing: 1.5px;
}

.advantages {
  padding-top: 85px;
  background-color: rgb(64, 64, 64);
  padding-bottom: 95px;
}
.advantages__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  color: #44ac33;
  line-height: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fefefe;
}
.advantages__list-title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fefefe;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.advantages__list {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-row-gap: 85px;
  justify-content: space-between;
  background-image: url("../img/Fone.png");
  background-repeat: no-repeat;
  background-position: 65% bottom;
  background-size: contain;
  padding-bottom: 70px;
}
.advantages__list-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: end;
}
.advantages__list-part.reverse {
  flex-direction: row-reverse;
  text-align: start;
}
.advantages__list-part-content {
  width: 65%;
}
.advantages__list-part-content-title {
  font-size: 20px;
  font-weight: 600;
  color: #44ac33;
  margin-bottom: 20px;
}
.advantages__list-part-content-description {
  font-size: 14px;
  color: #fefefe;
  font-weight: 400;
  line-height: 20px;
}
.advantages__list-part-icon {
  display: flex;
  align-items: center;
}
.advantages__description {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fefefe;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 1px;
}

.system {
  background-color: rgb(159, 166, 167);
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 1065px;
  max-height: auto;
}
.system__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  color: #fefefe;
  margin-bottom: 45px;
  text-align: center;
}
.system__container {
  position: relative;
  min-height: 976px;
  max-height: auto;
  height: 100%;
  background-image: url("../img/system.png");
  background-repeat: no-repeat;
  background-size: 100% 97.5%;
  background-position: 0px 25px;
}
.system__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  width: 110%;
  left: -5%;
  top: 90px;
}
.system__list li {
  width: 30%;
  min-height: 420px;
}
.system__list li:not(:nth-child(3n)) {
  margin-right: 5%;
}
.system__list li:nth-last-child(n+3) {
  margin-bottom: 60px;
}
.system__list-part {
  position: relative;
  overflow: hidden;
  box-shadow: 1px 16px 18px 4px rgba(2, 2, 2, 0.26);
  filter: none;
  transition: filter 0.3s ease-in-out;
}
.system__list-part:focus-visible, .system__list-part:hover {
  filter: grayscale(70%);
}
.system__list-part:active {
  filter: grayscale(100%);
}
.system__list-part-img-container {
  height: 100%;
}
.system__list-part-img-container img {
  max-width: 100%;
  height: 100%;
}
.system__list-part-title {
  position: absolute;
  z-index: 10;
  max-width: 168px;
  min-width: auto;
  color: #000000;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
}
.system .title-left {
  left: 25px;
}
.system .title-top {
  top: 50px;
}
.system .title-bottom {
  bottom: 50px;
}
.system .title-rigth {
  right: 0px;
}

.services {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #fefefe;
}
.services__container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3f4650;
  margin-bottom: 35px;
  color: #44ac33;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-column-gap: 2.33%;
  grid-row-gap: 20px;
}
.services__list-part:hover .services__list-part-img-container img {
  filter: grayscale(0);
}
.services__list-part:focus-visible .services__list-part-img-container img {
  filter: grayscale(0);
}
.services__list-part-title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  color: #3f4650;
}
.services__list-part-img-container {
  position: relative;
  min-height: 300px;
}
.services__list-part-img-container::after {
  position: absolute;
  content: "";
  box-shadow: 9px 11px 0px 4px #44ac33;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.services__list-part-img-container img {
  width: 100%;
  filter: grayscale(100%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.3s ease-in-out;
}

.tarifs {
  padding-top: 65px;
  padding-bottom: 95px;
  background-image: url("../img/tarifs-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.tarifs__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  color: #fefefe;
  margin-bottom: 60px;
  text-align: center;
}
.tarifs__list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}
.tarifs__list-part {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fefefe;
}
.tarifs__list-part-title {
  font-weight: 600;
  font-size: 18px;
  color: #3f4650;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #44ac33;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.tarifs__list-part-content {
  margin-bottom: 35px;
}
.tarifs__list-part-description {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3f4650;
}
.tarifs__list-part-description:not(:last-child) {
  margin-bottom: 20px;
}
.tarifs__list-part-content-bottom {
  padding-left: 45px;
  padding-right: 45px;
}
.tarifs__list-part-content-bottom-commission-count {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
.tarifs__list-part-content-bottom-commission-count.green {
  color: #44ac33;
}
.tarifs__list-part-content-bottom-commission-count.blue {
  color: #0093ec;
}
.tarifs__list-part-content-bottom-commission-count.grey {
  color: #3c434d;
}
.tarifs__list-part-content-bottom-commission-desc {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #3f4650;
  margin-bottom: 25px;
}
.tarifs__list-btn {
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  color: #fefefe;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(160, 165, 168);
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  padding-left: 60px;
  padding-right: 60px;
}
.tarifs__list-btn:hover {
  background-color: rgba(68, 172, 51, 0.8);
}
.tarifs__list-btn:focus-visible {
  background-color: rgba(68, 172, 51, 0.8);
}
.tarifs__list-btn:active {
  background-color: rgb(68, 172, 51);
}

.clients {
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: #fefefe;
}
.clients__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.clients__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  padding-bottom: 30px;
  border-bottom: 1px solid #3f4650;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(6, 15%);
  width: 100%;
  justify-content: space-between;
  grid-row-gap: 60px;
}
.clients__list-part-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  filter: grayscale(0%);
  transition: filter 0.3s ease-in-out;
}
.clients__list-part-link:hover {
  filter: grayscale(100%);
}

.project {
  background-color: #fefefe;
}
.project__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.project__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #3f4650;
}
.project__swiper {
  height: 1000px;
}
.project__swiper-slide {
  position: relative;
}
.project__swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.project__swiper-slide-link {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.project__swiper-slide-link::after {
  position: absolute;
  top: 0;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(64, 64, 64);
  opacity: 0.52;
  z-index: 150;
  transition: background-color 0.3s ease-in-out;
}
.project__swiper-slide-link:hover::after {
  background: transparent;
}
.project__swiper-slide-link img {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__slide-title {
  z-index: 200;
  color: #fefefe;
  font-weight: 600;
  font-size: 27px;
  padding-left: 35px;
  padding-right: 35px;
}
.project__button-prev, .project__button-next {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(255, 255, 255, 0.837) !important;
  background-color: rgba(129, 129, 130, 0.3);
  color: white !important;
  z-index: 1000 !important;
}
.project__button-prev::after, .project__button-next::after {
  font-size: 20px !important;
  font-weight: 800 !important;
}
.project__button-prev.swiper-button-disabled, .project__button-next.swiper-button-disabled {
  z-index: 1000 !important;
}

.rewievs {
  padding-top: 90px;
  padding-bottom: 250px;
  background-image: url("../img/rewievs-back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
}
.rewievs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rewievs__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 20px;
  margin-bottom: 138px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.302);
  color: #fefefe;
}
.rewievs__list {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap: 20px;
  justify-content: space-between;
}
.rewievs__list-part-img-block {
  position: relative;
  min-height: 430px;
  margin-bottom: 25px;
}
.rewievs__list-part-background {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 40%;
  left: -30%;
}
.rewievs__list-part-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: none;
  transition: filter 0.3s ease-in-out;
}
.rewievs__list-part {
  cursor: pointer;
  outline: none;
}
.rewievs__list-part:focus-visible .rewievs__list-part-photo {
  filter: sepia(50%);
}
.rewievs__list-part:hover .rewievs__list-part-photo {
  filter: sepia(50%);
}
.rewievs__list-part:active .rewievs__list-part-photo {
  filter: sepia(100%);
}
.rewievs__list-part-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rewievs__list-part-name {
  color: #fefefe;
  font-weight: 800;
  font-size: 30px;
  margin-right: 10px;
  white-space: nowrap;
}
.rewievs__list-part-name-border {
  padding-top: 5px;
  background-color: #44ac33;
  width: 100%;
}

.blog {
  background-color: #fefefe;
  padding-top: 50px;
  padding-bottom: 60px;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(28, 28, 27, 0.302);
  color: #262625;
}
.blog__list {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 45px;
  margin-bottom: 80px;
}
.blog__list-part {
  padding-bottom: 45px;
  border-bottom: 1px solid rgb(36, 40, 43);
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.blog__list-part.list-close {
  display: none;
  opacity: 0;
}
.blog__list-part.list-open {
  display: block;
  opacity: 1;
  -webkit-animation: fadeInFromNone 0.3s ease-in-out;
          animation: fadeInFromNone 0.3s ease-in-out;
}
.blog__list-part-content {
  font-weight: 400px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 19px;
  color: #262625;
}
.blog__list-part-title {
  color: #262625;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
.blog__list-part-content-link {
  color: #44ac33;
  font-size: 14px;
  font-weight: 800;
  margin-left: 10px;
}
.blog__btn {
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  color: #fefefe;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(160, 165, 168);
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  padding-left: 35px;
  padding-right: 35px;
}
.blog__btn:hover {
  background-color: rgba(68, 172, 51, 0.8);
}
.blog__btn:focus-visible {
  background-color: rgba(68, 172, 51, 0.8);
}
.blog__btn:active {
  background-color: rgb(68, 172, 51);
}

.important {
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: rgb(159, 166, 167);
}
.important__title {
  font-weight: 800;
  font-size: 20px;
  color: #fefefe;
  text-align: center;
  margin-bottom: 20px;
}
.important__description {
  font-weight: 500;
  font-size: 16px;
  color: #fefefe;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0px;
}

/* footer */
.footer {
  background-color: rgb(43, 43, 43);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.footer__logo-link {
  display: block;
  width: 250px;
}
.footer__link {
  color: white;
  margin-bottom: 15px;
}
.footer__left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__left-block-title {
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer__left-block-contacts-container {
  display: flex;
  flex-direction: column;
}
.footer__middle-block {
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer__middle-block-list-part {
  color: white;
}
.footer__middle-block-list {
  display: flex;
  flex-direction: column;
}
.footer__middle-block-list li:not(:last-child) {
  margin-bottom: 15px;
}
.footer__icon-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.footer__rigth-block-title {
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: end;
}
.footer__icon-link {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.footer__icon-link:not(:last-child) {
  margin-right: 20px;
}
.footer__rigth-block-contacts {
  color: white;
}
.footer__rigth-block-link {
  margin-bottom: 15px;
}
.footer__rigth-block-contacts div {
  text-align: end;
}
.footer__rigth-block-contacts div:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1343px) {
  .system__list {
    width: 105%;
    left: -2.5%;
  }
}
@media (max-width: 1275px) {
  .system__list {
    top: 115px;
    width: 102%;
    left: -1%;
  }
  .system__list li {
    min-height: 410px;
  }
}/*# sourceMappingURL=style.css.map */