@import './keyframes.scss';

@font-face {
  font-family: 'monserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff2'),
       url('../fonts/Montserrat-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  
}

@font-face {
  font-family: 'monserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  
}

@font-face {
  font-family: 'monserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'monserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'monserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


$font-color-white: #fefefe;
$font-color-green: #44ac33;
$font-color-black: #000000;
$font-color-grey: #3f4650;
$font-color-dark-grey:#3c434d;
$font-color-blue: #0093ec;

$background-dark-grey: rgba(64, 64, 64, 1);
$background-ligth-grey: rgba(159, 166, 167, 1);
$background-footer-grey: rgba(43, 43, 43, 1);
$background-header-grey: rgba(18, 21, 17, 0.388);


$btn-grey: rgb( 159, 166, 167);
$btn-green: rgb( 70, 171, 52);

@mixin main-title {
  padding: 0;
  margin-top: 0;
  font-weight: 800;
  font-size: 40px;

  @media (max-width: 675px) {
    font-size: 25px;
  }

  @media (max-width: 625px) {
    font-size: 25px;
  }

  @media (max-width: 472px) {
    font-size: 20px;
  }

  @media (max-width: 390px) {
    font-size: 16px;
  }
}

@mixin grey-green-btn {
 border: 1px solid transparent;
 outline: none;
 font-size: 16px;
 color: $font-color-white;
 font-weight: 500;
 padding-top: 15px;
 padding-bottom: 15px;

 background-color: $btn-grey;
 letter-spacing: 1px;
 transition: background-color 0.3s ease-in-out;
 &:hover {
   background-color: rgba($btn-green, 0.8);
 }
 &:focus-visible {
  background-color: rgba($btn-green, 0.8);
}

 &:active {
  background-color: $btn-green;
}

  @media (max-width: 480px) {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

@mixin fixed-btn {
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;

  color: $font-color-white;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $btn-green;
  
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba($btn-green, 0.8);
  }
  &:focus-visible {
   background-color: rgba($btn-green, 0.8);
 }
 
  &:active {
    background-color: $btn-grey;
 }

 @media (max-width: 525px) {

  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  }

}


$main-title-size: 40px;


$btn-grey: rgba(160, 165, 168, 1);
$btn-green: rgba(68, 172, 51, 1);

.theatre {
	.st0{fill:#010202;}
	.st1{fill:#47AB34;}
	.st2{fill:#FFFFFF;}

}

.concert {
  .st0{fill:#47AB34;}
  .st1{fill:#010202;}

}

.musey {
  .st0{fill:#47AB34;}
	.st1{fill:#010202;}
}

.kino {
	
  .st0{fill:#47AB34;}
  .st1{fill:#010202;}
}

.events {
  .st0{fill:#47AB34;}
  .st1{fill:#010202;}
}

.footer-svg {
  .st0{display:none;fill:#606060;}
  .st1{fill:#FFFFFF;}
  .st2{fill:#42A435;}
  .st3{enable-background:new    ;}
}

.square {
  .sx{fill:#484543;}	
  .sg{fill:#44A535;}
}

.letter {
  .sm{fill:#484442;} 
   .sg{fill:#42A435;}
}

.burger-svg {

  .cls-g {
    fill: #44ac33;
    fill-rule: evenodd;
  }
}
   

.adv-icon-1 {
  .sv{display:none;fill:#111111;}
  .st{fill:#FFFFFF;}
}

.adv-icon-2 {
  .st{fill:#FFFFFF;}

}

.adv-icon-3 {
  .st{fill:#FFFFFF;}

}

.adv-icon-4 {
  fill: #FFFFFF;
  .st{fill:#FFFFFF;}

}

.adv-icon-5 {
  .st{fill:#FFFFFF;}

}

// скроллтриггер анимации стили

.fromTopIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromTopOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,-10px);
  opacity: 0.0;
}

.fromBottomIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromBottomOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,10px);
  opacity: 0.0;
}

.fromLeftIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromLeftOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(-10px,0);
  opacity: 0.0;
}

.fromRightIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromRightOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(10px, 0);
  opacity: 0.0;
}

.scaleUpIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: scale(1.0,1.0);
  opacity: 1.0;
}

.scaleUpOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(1.1,1.1);
  opacity: 0.0;
}

.scaleDownIn
{
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: scale(1.0,1.0);
    opacity: 1.0;
}
.scaleDownOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: scale(0.7,0.7);
  opacity: 0.0;
}

// 


.list-no-marker {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.btn {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.link {
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'monserrat';
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: azure;
  position: relative;
}




.fixed-btn {
  position: fixed;
  right: 0px;
  z-index: 99;
  bottom: 400px;
  max-width: 25%;
  // bottom: 100px;
  @include fixed-btn();
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  color:rgb(68, 172, 51, 1);
  font-size: 50px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:focus-visible {
    color:rgb(68, 172, 51, 0.8);
  }

  &:hover {
    color:rgb(68, 172, 51, 0.8);
  }
}

.scroll-to-top.block {
  display: block;
  
}


.burger-btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-width: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.header {
  background-color: $background-header-grey;
  // padding-top: 25px;
  // padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  animation: headerUnObserve 0.3s ease-in-out;


  
  .header__logo {
    // display: block;
    // height: 40px;
    // width: 200px;
    overflow: hidden;
    padding-top: 5px;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    
    .square {
      height: 40px;
    }

    .letter {
     width: 133px;
     margin-left: 5px;
     height: 25px;
     transform-style: preserve-3d;
     transform: translateY(100%);
    }
  }

  .header__container {
    display: grid;
    grid-template-columns: 18% 82%;
    align-items: center;
    justify-content: space-between;
  }


  .header__nav-list  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header__nav-list-part {
    position: relative;
  }

  &__nav-border-hover {
    position: absolute;
    height: 5px;
    background-color: transparent;
    width: 100%;
    bottom: -40px;
    left: 0px;
    transition: background-color 0.3s ease-in-out;
  }


  .header__nav-list-part:focus .header__nav-border-hover,
  .header__nav-list-part:hover .header__nav-border-hover {
    background-color: rgba(68, 172, 51, 0.7);
  }

  .header__nav-list-part:active .header__nav-border-hover {
    background-color: rgba(68, 172, 51, 1);
  }

  .header__nav-border-hover-list {
    position: absolute;
    height: 5px;
    background-color: transparent;
    width: 100%;
    top: -5px;
    left: 0px;
    transition: background-color 0.3s ease-in-out;
  }

  .header__nav-list-part:focus .header__nav-border-hover-list,
  .header__nav-list-part:hover .header__nav-border-hover-list {
    background-color: rgba(68, 172, 51, 0.7);
  }

  .header__nav-list-part:active .header__nav-border-hover-list {
    background-color: rgba(68, 172, 51, 1);
  }



  .nav-dropdown-relative ul li {
    transition: color 0.3s ease-in-out;
  }
  .nav-dropdown-relative ul li:hover, 
  .nav-dropdown-relative ul li:focus {
    color: rgba(68, 172, 51, 0.7);
  }

  .nav-dropdown-relative ul li:active {
    color: rgba(68, 172, 51, 1);
  }
  
  .nav-btn  {
    font-size: 12px;
    color: $font-color-white;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: rgba(68, 172, 51, 0.7);
    }
    &:focus-visible {
      color: rgba(68, 172, 51, 0.7);
    }

    &:active {
      color: rgba(68, 172, 51, 1);
    }
  }
  
  .nav-dropdown {
    display: none;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    top: calc(100% + 40px);
    left: 0;
    min-width: 100%;
    max-width: auto;
    height: auto;
    background-color: rgba($background-header-grey, $alpha: 0.7);
  }

  .nav-dropdown-relative {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

    .nav-dropdown-active {
      display: flex;
    }

    .nav-dropdown li {
      color: $font-color-white;
      font-size: 12px;
      letter-spacing: 2px;
    }

    .nav-dropdown li:not(:last-child) {
      margin-bottom: 5px;
    }

    .dropdown-part {
      white-space: nowrap;
      line-height: 32px;
    }
}




.fixed-header {
  
  background-color: rgba(18, 21, 17, 0.9);
  animation: headerObserve 0.3s ease-in-out;
}

.header__relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.header__relative {
  padding-top: 25px;
  padding-bottom: 25px;
  animation: paddingOn 0.3s ease-in-out;
}

.header__relative.padding-un {
  padding-top: 10px;
  padding-bottom: 10px;
  animation: paddingUn 0.3s ease-in-out;
}

.header__relative.padding-un .nav-dropdown {
  top: calc(100% + 15px);
}

.header__relative.padding-un .header__nav-border-hover {
  bottom: -20px;
}



.header.header-on-top .header__logo .square {
  height: 40px;
  // animation: squareBig 3s ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-name: squareBig;
  animation-timing-function: ease;
}

.header.header-on-top .header__logo .letter {
  transform: translateY(100%);
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: letterDown;
  animation-timing-function: ease;
}

.header.fixed-header .header__logo .square {
  height: 25px;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: squareSmall;
  animation-timing-function: ease;
  // animation: squareSmall 0.3s ease-in-out;
}

.header.fixed-header .header__logo .letter {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: letterUp;
  animation-timing-function: ease;
  transform: translateY(0%);
  transform: scale(1);

}



// hero 

.hero {
  background-image: url('../img/Website-TeleGreen_mobile_slider\ \(1\).jpg');
  background-repeat: no-repeat;
  min-height: 960px;
  max-height: auto;
  background-size: cover;
  background-position: bottom;
  padding-top: 350px;
  padding-bottom: 325px;

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: $font-color-white;
    font-size: 55px;
    margin-bottom: 35px;
  }

  &__top-description {
    color: $font-color-white;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
  }

  &__green-text {
    display: flex;
    font-weight: 800;
    color: $font-color-green;
    line-height: 19px;
    font-size: 25px;
    margin-left: 5px;
  }

  &__top-description-border {
    background-color: $btn-green;
    width: 63px;
    display: inline-block;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-right: 15px;
  }

  &__bottom-description {
    font-size: 16px;
    line-height: 19px;
    color: $font-color-white;
    font-weight: 400;
    width: 60%;
    letter-spacing: 1.5px;
  }

}

// advantages

.advantages {
  padding-top: 85px;
  background-color: $background-dark-grey;
  padding-bottom: 95px;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include main-title();
    color: $font-color-green;
    line-height: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid $font-color-white;
  }


  &__list-title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $font-color-white;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  &__list {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-row-gap: 85px;
    justify-content: space-between;
    background-image: url('../img/Fone.png');
    background-repeat: no-repeat;
    background-position: 65% bottom;
    background-size: contain;
    padding-bottom: 70px;
  }

  &__list-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
  }

  .advantages__list-part-icon {
    
    // height: 90px;
    width: 63px;
  }

  &__list-part.reverse {
    flex-direction: row-reverse;
    text-align: start;
  }

  &__list-part-content {
    width: 65%;
  }

  &__list-part-content-title {
    font-size: 20px;
    font-weight: 600;
    color: $font-color-green;
    margin-bottom: 20px;
  }

  &__list-part-content-description {
    font-size: 14px;
    color: $font-color-white;
    font-weight: 400;
    line-height: 20px;
  }

  &__list-part-icon {
    display: flex;
    align-items: center;
  }

  &__description {
    text-align: center;
    margin: 0;
    padding: 0;
    color: $font-color-white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .text-wrapper span {
    opacity: 0;
    transform: opacity 0.2s;
}

  .text-wrapper span.visible {
    opacity: 1;
  }

}


// наша билетная система

.system {
  background-color: $background-ligth-grey;
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 965px;
  max-height: auto;
  // position: relative;
  &__title {
    @include main-title();
    color: $font-color-white;
    margin-bottom: 45px;
    text-align: center;
  }

  &__container {
    position: relative;
    min-height: 906px;
    max-height: auto;
    height: 100%;
    background-image: url('../img/system.png');
    background-repeat: no-repeat;
    background-size: 100% 97.5%;
    background-position: 0px 25px;
  }



  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    width: 110%;
    left: -5%;
    // max-width: 1295px;
    // min-width: auto;
    top: 90px;
    
    li {
      width: 29%;
      min-height: 390px;
      // width: 390px;
    }
    li:not(:nth-child(3n)) {
      margin-right: 5%;
    }
    li:nth-last-child(n+3) {
      margin-bottom: 60px;
    }
  }

  &__list-part {
    position: relative;
    filter: none;
    max-height: 390px;
    min-height: 390px;
    background-color: white;
    box-shadow: 1px 16px 18px 4px rgba(2, 2, 2, 0.26);
    
    svg {
      width: 100%;

      height: 100%;
    }
    
    // background-color: white;
    // animation: 0.5s ease-in-out scaleDown;
    transition: filter 0.3s ease-in-out;
  }

    &__list-part-link {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
  }



  &__list-part:focus-visible .animate-square,
  &__list-part:hover .animate-square {
    animation: bounceHorizonte 1.5s ease infinite;
  }


  &__list-part:focus-visible .animate-square-vertical,
  &__list-part:hover .animate-square-vertical {
    animation: bounceVertical 1.5s ease infinite;
  }

  &__list-part:focus-visible .system__list-part-title,
  &__list-part:hover .system__list-part-title {
    color: #006400;
  }



  &__list-part-title {
    position: absolute;
    z-index: 100;
    max-width: 168px;
    min-width: auto;
    color: $font-color-black;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    transition: color 0.3s ease-in-out;
  }

  .title-left {
    left: 15px
  }

  .title-top {
    top:50px;
  }

  .title-bottom {
    bottom: 50px;
  }

  .title-rigth {
    right: 0px;
  }
}


// наши услуги

.services {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: $font-color-white;

  &__container {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &__title {
    @include main-title();
    padding-bottom: 20px;
    border-bottom: 1px solid $font-color-grey;
    margin-bottom: 35px;
    color: $font-color-green;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    grid-row-gap: 20px;
  }

 
  &__list-part {
    &:hover .services__list-part-img-container img {
     filter: grayscale(0); 
    }

    &:focus-visible  .services__list-part-img-container img {
      filter: grayscale(0); 
     }
  
  }

  &__list-part-title {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    color: $font-color-grey;
  }

  &__list-part-img-container {
    position: relative;
    min-height: 300px;
    &::after {
      position: absolute;
      content: '';
      box-shadow: 9px 11px 0px 4px $font-color-green;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    
    img {
      width: 100%;
      filter: grayscale(100%);
      object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: filter 0.3s ease-in-out;
    }
  }



  // &__list-part-img-container::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
    
  //   z-index: 100;
  // }
}


// тарифы

.tarifs {
  padding-top: 65px;
  padding-bottom: 95px;
  background-image: url('../img/tarifs-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &__title {
    @include main-title();
    color: $font-color-white;
    margin-bottom: 60px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }

  &__list-part {
    display: flex;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: column;
    justify-content: space-between;
    background-color: $font-color-white;
  }

  &__list-part-title {
    font-weight: 600;
    font-size: 18px;
    color: $font-color-grey;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $font-color-green;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  &__list-part-content {
    margin-bottom: 35px;
  }

  &__list-part-description {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $font-color-grey;
  }

  .percent {
    color: #3f4650;
    font-size: 16px;
    font-weight: 600;
  }

  .pushka {
    font-weight: 600;
    color: #920146;
  }

  &__list-part-description:not(:last-child) {
    margin-bottom: 20px;
  }

  &__list-part-content-bottom {
    padding-left: 45px;
    padding-right: 45px;
  }

  &__list-part-content-bottom-commission-count {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__list-part-content-bottom-commission-count.green {
    color: $font-color-green;
  }

  &__list-part-content-bottom-commission-count.blue {
    color: $font-color-blue;
  }

  &__list-part-content-bottom-commission-count.grey {
    color: $font-color-dark-grey;
  }

  &__list-part-content-bottom-commission-desc {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: $font-color-grey;
    margin-bottom: 25px;
  }

  &__list-btn {
    @include grey-green-btn();
    padding-left: 60px;
    padding-right: 60px;
  }
}


// наши клиенты

.clients {
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: $font-color-white;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include main-title();
    color: $font-color-black;
    padding-bottom: 30px;
    border-bottom: 1px solid $font-color-grey;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    width: 100%;
    justify-content: space-between;
    grid-row-gap: 60px;
  }

  &__list-part-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    filter: grayscale(0%);
    transition: filter 0.3s ease-in-out;
    &:hover {
      filter: grayscale(100%);
    }
  }
}

//project

.project {
  background-color: $font-color-white;
  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    @include main-title();
    padding-bottom: 30px;
    border-bottom: 1px solid $font-color-grey;
  }

  &__swiper {
    height: 1000px;
  }

  &__swiper-slide {
    position: relative;
    overflow: hidden;
    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

  }

  &__swiper-slide-link {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    z-index: 100;
    // transform: scale(0.5);

    &::after {
      position: absolute;
      top: 0;
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(64, 64, 64);
      opacity: 0.52;
      z-index: 150;
      transition: background-color 0.3s ease-in-out;
    }


    img {
      position: absolute;
      top: 0;
      width: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    &:hover img {
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -moz-transform:scale(1.1); /* Firefox */
      -ms-transform:scale(1.1); /* IE 9 */
      -o-transform:scale(1.1); /* Opera */
      transform: scale(1.1);
      object-fit: cover;
    }

    &:focus-visible img {
      -webkit-transform:scale(1.1); /* Safari and Chrome */
      -moz-transform:scale(1.1); /* Firefox */
      -ms-transform:scale(1.1); /* IE 9 */
      -o-transform:scale(1.1); /* Opera */
      transform: scale(1.1);
      object-fit: cover;
    }
  }


  &__slide-title {
    z-index: 200;
    color: $font-color-white;
    font-weight: 600;
    font-size: 27px;
    padding-left: 35px;
    padding-right: 35px;
  }


  &__button-prev, 
  &__button-next {
    width: 70px!important;
    height: 70px!important;
    border-radius: 50%!important;
    border: 1px solid rgba(255, 255, 255, 0.837)!important;
    background-color: rgba(129,129,130, 0.3);
    color: white!important;
    z-index: 1000!important;
    &::after {
      font-size: 20px!important;
      font-weight: 800!important;
    }
  }

  &__button-prev.swiper-button-disabled,
  &__button-next.swiper-button-disabled {
    z-index: 1000!important;
  }
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  width: 12px!important;
  height: 12px!important;
}

.swiper-pagination-bullet-active {
  background: #666666!important;
  opacity: 1;
}

.rewievs {
  padding-top: 90px;
  padding-bottom: 250px;
  background-image: url('../img/rewievs-back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  
 
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include main-title();
    padding-bottom: 20px;
    margin-bottom: 138px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.302);
    color: $font-color-white;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 20px;
    justify-content: space-between;
  }




  &__list-part-img-block {
    position: relative;
    min-height: 430px;
    margin-bottom: 25px;
    transform-style: preserve-3d;
    -webkit-transform:rotateY(0deg); /* Safari and Chrome */
    -moz-transform:rotateY(0deg); /* Firefox */
    -ms-transform:rotateY(0deg); /* IE 9 */
    -o-transform:rotateY(0deg); /* Opera */
    transform: rotateY(0deg);
    transition: transform 0.5s ease-in-out;
  }

  // &__list-part:hover .rewievs__list-part-img-block {
  //   -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  //   -moz-transform:rotateY(180deg); /* Firefox */
  //   -ms-transform:rotateY(180deg); /* IE 9 */
  //   -o-transform:rotateY(180deg); /* Opera */
  //   transform: rotateY(180deg);
  // }

  &__list-part.close .rewievs__list-part-img-block{
    -webkit-transform:rotateY(0deg); /* Safari and Chrome */
    -moz-transform:rotateY(0deg); /* Firefox */
    -ms-transform:rotateY(0deg); /* IE 9 */
    -o-transform:rotateY(0deg); /* Opera */
    transform: rotateY(0deg);
  }

 

  &__list-part.open .rewievs__list-part-img-block{
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    -ms-transform:rotateY(180deg); /* IE 9 */
    -o-transform:rotateY(180deg); /* Opera */
    transform: rotateY(180deg);
  }

  &__list-part.open .front{
    
  }


  .side {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .front {
    // transform: translateZ(150px);
    opacity: 1;
    transform: rotateY(180deg) translateZ(150px)
  }

  .back {
    transform: translateZ(150px);
    // transform: rotateY(180deg) translateZ(150px);
    color: $font-color-white;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    background-color: #000000;
    opacity: 0.7;
    line-height: 25px;
    display: flex;
    align-items: center;
  }

  .rewievs__list-part-text {
    text-align: center;
  }

  &__list-part-background {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 30%;
    left: -30%;
  }

  &__list-part-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
    transition: filter 0.3s ease-in-out;
  }

  &__list-part {
    cursor: pointer;
    outline: none;
    position: relative;
  }

  &__list-part:focus-visible .rewievs__list-part-photo  {
    
    filter: sepia(50%);
  }

  &__list-part:hover .rewievs__list-part-photo  {
    
    filter: sepia(50%);
  }

  &__list-part:active .rewievs__list-part-photo  {
    
    filter: sepia(100%);
  }


  &__list-part-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__list-part-name {
    color: $font-color-white;
    font-weight: 800;
    font-size: 30px;
    margin-right: 10px;
    white-space: nowrap;
  }

  &__list-part-name-border {
    padding-top: 5px;
    background-color: $font-color-green;
    width: 100%;
  }
  
}

.blog {
  background-color: $font-color-white;
  padding-top: 50px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include main-title();
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(28, 28, 27, .302);
    color: #262625;
  }

  &__list {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-row-gap: 30px;
    margin-bottom: 80px;
    justify-content: space-between;
  }

  &__list-part {
    position: relative;
    padding-bottom: 45px;
    background-color: $background-ligth-grey;
  }

  &__list-part_img-block {
    position: relative;
    height: 340px;
    margin-bottom: 20px;

    .blog__img-link {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }



  &__list-part.list-close {
    display: none;
    opacity: 0;
   
  }

  &__list-part.list-open {
    display: block;
    opacity: 1;
    animation: fadeInFromNone 0.3s ease-in-out;
  }



  &__list-part-content {
    font-weight: 400px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 6.15%;
    padding-right:  6.15%;
    color: $font-color-white;
    margin-bottom: 35px;
    overflow: hidden;
  }

  &__list-part-title-adaptive {
    color: $font-color-white;
    font-weight: 800;
    display: none;
  }

  
  &__list-part-title {
    color: $font-color-white;
    font-size: 16px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.702);
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    padding-left: 6.15%;
    padding-right:  6.15%;
    // text-align: center;
  }
  

  &__list-part-content-link {
    color: $font-color-dark-grey;
    font-size: 14px;
    font-weight: 500;
    padding-left: 6.15%;
    padding-right:  6.15%;
    position: absolute;
    bottom: 40px;
    left: 0;
    
  }

  &__btn {
    @include grey-green-btn();
    padding-left: 35px;
    padding-right: 35px;
  }
}

// important

.important {
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: $background-ligth-grey;
  &__title {
    font-weight: 800;
    font-size: 20px;
    color: $font-color-white;
    text-align: center;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    color: $font-color-white;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }

  &__form {
    width: 90%;
    background-color: #2b2b2b;
    padding: 25px 65px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__form-legend-title {
    padding: 0px;
    margin-bottom: 30px;
    color: $font-color-white;
    font-size: 24px;
  }

  &__form-input {
    background-color: $font-color-white;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-family: 'monserrat';
    font-size: 14px;
    font-weight: 400;
    color: $font-color-dark-grey;
  }

  &__form-input::placeholder {
    font-family: 'monserrat';
    font-size: 14px;
    font-weight: 400;
    color: $font-color-dark-grey;
  }

  .textaria {
    min-height: 150px;
  }

  &__form-input-btn-submit {
    @include fixed-btn();
    width: 25%;
    align-self: center;
    // padding-top: 20px;
    // padding-bottom: 20px;
    font-size: 21px;
    color: $font-color-white;
  }


 
}

// footer

/* footer */


.footer {
  background-color: $background-footer-grey;
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
  &__logo-link {
    display: block;
    width: 250px;
  }

  &__link {
    color: white;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    &:focus-visible,
    &:hover {
      color: rgba(68, 172, 51, 0.7);
    }

    &:active {
      color: rgba(68, 172, 51, 1);
    }
  }

  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left-block-title {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__left-block-contacts-container {
    display: flex;
    flex-direction: column;
  }

  &__middle-block {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__middle-block-list-part {
    color: white;
    transition: color 0.3s ease-in-out;

    &:focus-visible,
    &:hover {
      color: rgba(68, 172, 51, 0.7);
    }

    &:active {
      color: rgba(68, 172, 51, 1);
    }
  }

  &__middle-block-list {
    display: flex;
    flex-direction: column; 
  }

  &__middle-block-list li:not(:last-child) {
    margin-bottom: 15px;
  }

  &__icon-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-end;
  }
  
  &__rigth-block-title {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: end;
  }

  &__icon-link {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

    .fa {
      transition: color 0.3s ease-in-out;
    }

    &:focus-visible,
    &:hover {
      background-color: rgba(68, 172, 51, 0.7);
    }

    &:active {
      background-color: rgba(68, 172, 51, 1);
    }

    &:focus-visible .fa,
    &:hover .fa {
      color: white;
    }

    &:active .fa {
      color: white;
    }
  
  }

  &__icon-link:not(:last-child) {
    margin-right: 20px;
  }

  &__rigth-block-contacts {
    color: white;
  }

  &__rigth-block-link {
    margin-bottom: 15px;
    transition: color 0.3s ease-in-out;

    &:focus-visible,
    &:hover {
      color: rgba(68, 172, 51, 0.7);
    }

    &:active {
      color: rgba(68, 172, 51, 1);
    }
    
  }

  &__rigth-block-contacts div {
    text-align: end; 
  }

  &__rigth-block-contacts div:not(:last-child) {
    margin-bottom: 10px;
  }

}


@media (max-width: 1343px) { 

  .system {
    &__list {
      width: 105%;
      left: -2.5%;
    }
  }

}

@media (max-width: 1275px) { 

  .system {
    &__list {
      top: 115px;
      width: 102%;
      left: -1%;

      li {
        min-height: 380px;
      }
    }
  }

  .services__list-part-title {
    margin-bottom: 50px;
  }

  .services__list {
    grid-template-columns: repeat(2, 45%);
    grid-row-gap: 70px;
  }
}

@media (max-width: 1245px) {

  .system {

    &__container {
      background-image: none;
    }

    .system__list {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;

    }

    .system__list li {
      width: 30%;
    }
  
    .system__list-part-img-container svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}


@media (max-width: 1216px) { 

  .system {
    
    .system__list li {
      width: 40%;
    }

    .system__list li:not(:nth-child(3n)) {
      margin-right: 0;
  }

    
  
     .system__list li:not(:nth-child(2n)) {
         margin-right: 10%;
     }

     .system__list li:nth-last-child(n+3) {
      margin-bottom: 0;
     }

     
     .system__list li:nth-last-child(n+2) {
      margin-bottom: 60px;
     }
  }
}

@media (max-width: 1170px) {

  .tarifs__list-part-content-bottom {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__list {
  background-position: 80% bottom;
}

}

@media (max-width: 1026px) {

  .burger-btn {
    display: block;
  }


  .header__nav {
    // display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
  }


  .header__nav.open-nav {
    background-color: rgba(18, 21, 17, 0.7);
    transform: translateX(0%);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__nav-border-hover {
    display: none;
  } 

  .header__nav-border-hover-list {
    display: none;
  }

  .header {
    .header__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .header__nav-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .header__nav-list-part {
      margin-bottom: 30px;
    }

    .nav-dropdown {
      position: static;
      background-color: transparent;
      opacity: 0;
      
    }

    .nav-dropdown-active {
      opacity: 1;
      display: flex;
      animation: fadeInFlex 0.3s ease-in-out;
    }

   }


  .container {
    padding: 0 30px;
  }

  .hero {
    padding-top: 185px;
  }

  .hero__title {
    font-size: 45px;
    margin-bottom: 65px;
    width: 63%;
    line-height: 55px;
  }

  .hero__bottom-description {
    width: 80%;
  }

  .advantages {
    padding-bottom: 555px;
    position: relative;
    background-image: url('../img/Fone.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 140px;
    background-position-x: -130px;
  }

  .advantages__list {
    background-image: none;
    position: absolute;
    bottom: 55px;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 45% 45%;
    
  }

  .advantages__description {
    margin-bottom: 100px;
    padding-left: 35%;
    text-align: start;
    line-height: 25px;
  }


  .advantages__list-title {
    margin: 0;
    padding: 0;
    text-align: start;
    color: #fefefe;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 120px;
    letter-spacing: 1px;
    padding-left: 35%;
    /* width: 50%; */
  }

  .advantages__list-part {
    flex-direction: row-reverse;
    text-align: start;
  }


  .advantages__list-part {
    justify-content: flex-end;
  }

  .advantages__list-part.reverse {
    justify-content: flex-start;
  }

  .advantages__list-part-content {
    margin-left: 25px;
  }


  .system {
    padding-bottom: 95px;
  }
  .system__list {
    display: grid;
    grid-template-columns: 50%;
    grid-row-gap: 75px;
  }

  .system__list li {
    min-height: 540px;
  }
  .system .system__list li:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .system .system__list li {
    width: 100%;
  }

  .system .system__list li:nth-last-child(n+2) {
    margin-bottom: 0px;
  }


  .tarifs__list {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 50px;
  }

  .tarifs__list-part {
    max-width: 800px;
    min-width: auto;
  }

  .tarifs__list-part-description {
    text-align: start;
  }

  .tarifs__list-part-description:not(:last-child) {
    margin-bottom: 30px;
  }

  .tarifs__list-part-content {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: baseline;
  }

  .tarifs__list-part-title {
    align-items: center;
    align-self: center;
  }

  .tarifs__list-part-content-bottom-commission {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 45px;
  }

  .tarifs__list-part-content-bottom-commission-count {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .tarifs__list-part-content-bottom-commission-desc {
    margin-bottom: 0;
  }

  .clients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clients__list-part {
    width: 33%;
  }

  .blog__list-part_img-block {
    height: 250px;
  }

  .blog__list-part-title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .blog__list-part-content {
    font-size: 14px;
  }
}


@media (max-width: 945px) {

  // .fixed-btn {
  //   top: auto;
  //   bottom: 100px;
  // }

  .hero {
    padding-top: 285px;
  }
  .hero__title {
    width: 100%;
  }

  .hero__title {
    margin-bottom: 35px;
  }

  .system__list {
    grid-template-columns: 65%;
  }


  .services__list-part-title {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .services__list-part-img-container {
    min-height: 300px;
  }

  .services__title {
    margin-bottom: 55px;
  }

  .rewievs__title {
    margin-bottom: 65px;
  }

  .rewievs__list-part-name {
    font-size: 26px;
  }

  .rewievs__list {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // display: grid;
    // grid-template-columns: 70%;
    // grid-row-gap: 50px;
  }

  .rewievs__list-part {
    width: 65%;
  }

  .rewievs__list-part-background {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 35%;
    left: -10%;
  }

  .rewievs__list-part-img-block {
    position: relative;
    min-height: 450px;
    margin-bottom: 25px;
  }

  .blog__list {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin-bottom: 80px;
    justify-content: space-between;
  }

  .blog__list-part {
    display: grid;
    grid-template-columns: 30% 65%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-right: 6.15%;

  }

  .blog__list-part_img-block {
    margin-bottom: 0;
    position: static;
  }

  .blog__list-part-content-link {
    right: 0;
    left: auto;
    bottom: 20px;
  }

  .blog__list-part-content {
    // padding-top: 45px;
    font-weight: 400px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .blog__list-part-title {
    display: none;
  }

  .blog__list-part-title-adaptive {
    display: block;
    margin-bottom: 10px;
  }


} 

@media (max-width: 849px) {

  .hero__top-description-border {
    display: none;
  }

  .advantages__list-title {
    margin-bottom: 50px;
  }

  .advantages__description {
    margin-bottom: 50px;
  }

  .important__form-input-btn-submit {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .important__form-input {
    font-size: 12px;
  }

  .important__form-input::placeholder {
    font-size: 12px;
  }

  .important__form-legend-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .textaria {
    min-height: 100px;
  }

  .fixed-btn {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

@media (max-width: 775px) {

  .advantages {
    background-size: 100%;
    background-position-y: 140px;
    background-position-x: -180px;
  }

  .advantages__title {
    margin-bottom: 50px;
  }

  .services__list-part-img-container {
    min-height: 250px;
  }

  .system__list {
    grid-template-columns: 75%;
  }

  

  .project__swiper {
    height: 800px;
  }

  .rewievs {
    padding-bottom: 150px;
  }

  .rewievs__list-part {
    width: 75%;
  }

  .important__form-input-btn-submit {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 35%;
  } 

  .important__form {
    width: 100%;
  }

  .footer__logo-link {
    width: 200px;
  }

}

@media (max-width: 755px) {
  .hero__top-description {
    font-size: 19px;
    margin-bottom: 30px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }

  .hero {
    min-height: 900px; 
  }
 }

 @media (max-width: 735px) {
   .advantages {
    background-image: none;
    padding-bottom: 95px;
   }

   .advantages__list {
    padding: 0;
   }

   .advantages__list-title {
    padding: 0;
    // text-align: center;
   }

   .advantages__description {
    padding: 0;
    margin: 0;
    // text-align: center;
   }

   .advantages__list {
    position: static;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
   }

   .advantages__list-part {
    flex-direction: column-reverse;
    width: 45%;
    text-align: start;
    // justify-content: space-between;

  }

  .advantages__list-part.reverse {
    flex-direction: column-reverse;
    text-align: start;
    // justify-content: space-between;
  }

  .advantages .advantages__list-part-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 100%;
    margin-bottom: 10px;
  }

  .advantages__list-part-content {
    margin: 0;
    width: 100%;
  }

  .advantages__list-part-content-title {
    text-align: center;
  }

  .advantages__list-part-content-description {
    text-align: center;
  }

  .advantages__list-part.reverse {
    justify-content: right;
  }

  .system__list li {
    min-height: 450px;
  }

  .blog__list-part {
    padding-right: 3%;
  }

  .important__form {
    padding: 25px 45px;
  }
 }


 @media (max-width: 650px) {

  .hero__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .hero__top-description {
    font-size: 16px;
    margin-bottom: 20px;
   }  

   .hero__bottom-description {
    letter-spacing: 0px;
  }

  .advantages__title {
    margin-bottom: 35px;
    padding-bottom: 10px;
  }

  .services__title {
    padding-bottom: 10px;
  }

  .clients__title {
    padding-bottom: 10px;
  }

  .project__title {
    padding-bottom: 10px;
  }

  .rewievs__title {
    padding-bottom: 10px;
  }

  .blog__title {
    padding-bottom: 10px;
  }

  .advantages .advantages__list-part-icon {
    height: 60px;
  }

  .advantages {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .advantages__list-title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-bottom: 30px;
  }

  .advantages__description {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .advantages__list {
    grid-row-gap: 50px;
}


  .advantages .advantages__list-part-icon svg {
    width: 50px;
  }

  .advantages__list-part-content-title {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .advantages__list-part-content-description {
    font-size: 12px;
  }

  .advantages__list-part {
    width: 30%;
  }

  .hero {
    min-height: 850px;
    padding-top: 315px;
  }

  .hero__top-description {
    align-items: start;
    display: inline-block;
  }

  .hero__green-text {
    font-size: 19px;
  }

  .system__list {
    width: 100%;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  .system__list li {
    min-height: 250px;
  }

  .system__list-part {
    // overflow: visible;
  }

  .system__list-part-title {
    font-size: 12px;
    max-width: 110px;
    line-height: 20px;
  }

  .system {
    padding-bottom: 55px;
  }

  .system .title-left {
    left: 10px;
  }

  .system .title-rigth {
    right: 5px;
  }

  .system .title-top {
    top: 30px;
  }



  .rewievs__list-part {
    width: 90%;
  }

  .header__nav {
    width: 100%;
  }

  .important__form {
    padding: 25px 25px;
  }

  .footer__logo-link {
    display: block;
    width: 150px;
  }

  .footer__left-block-title {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__middle-block-list-part {
    font-size: 12px;
  }

  .footer__middle-block-list li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__rigth-block-title {
    font-size: 14px;
  }

  .footer__rigth-block-link {
    font-size: 12px;
  }

  .footer__rigth-block-adress {
    font-size: 12px;
  }

  .footer__text {
    font-size: 12px;
  }


  .tarifs__list-part-content-bottom-commission-count {
    font-size: 24px;
  }
 }

 @media (max-width: 610px) {
  .system__list-part-title {
    max-width: 100px;
  }

  .system .title-rigth {
    right: 2px;
  }
 }

 @media (max-width: 576px) {

  .swiper-pagination {
    display: block;
  }

  .project__button-next, .project__button-prev {
    display: none;
  }

}


 @media (max-width: 550px) {

  .services__list-part-title {
    font-size: 12px;
  }

  .services__list-part-img-container {
    min-height: 200px;
  }

  .important__form-input-btn-submit {
    width: 40%;
    font-size: 12px;
  }

  .important__form-input {
    padding: 10px 10px;
    margin-bottom: 15px;
    font-size: 10px;
  }

  .system__list li {
    min-height: 230px;
  }

  .system__list-part-title {
    font-size: 10px;
    max-width: 90px;
    line-height: 16px;
   }
 }

 @media (max-width: 525px) {

  .hero {
    min-height: 700px;
  }
  .hero__top-description {
    font-size: 14px;
  }

  .hero__green-text {
    font-size: 18px;
  }

  

  .hero__bottom-description {
    font-size: 14px;

  }


  .advantages__list-title {
    font-size: 12px;
    line-height: 18px;
    text-align: start;
  }

  .advantages__description {
    font-size: 12px;
    line-height: 18px;
    text-align: start;
  }

  .advantages__title {
    margin-bottom: 30px;
  }

  .advantages__list-part {
    width: 45%;
  }

  .advantages .advantages__list-part-icon {
    height: 30px;
  }

  .advantages__list-part-content-description {
    font-size: 12px;
    line-height: 14px;
  }

  .advantages__list-part-content-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .services__title {
    padding-bottom: 10px;
  }

 

  .advantages__list {
    padding: 0;
    grid-row-gap: 30px;
  }

  .hero__bottom-description {
    letter-spacing: 0;
  }

  .blog__list-part-title {
    
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .blog__list-part-content {
    font-size: 12px;
    line-height: 14px;
  }

  .blog__list-part-content-link {
    font-size: 12px;
  }

  .important__title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .important__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
  }

  .tarifs__list-part-description {
    font-size: 14px;
  }

  .tarifs__list-part-description:not(:last-child) {
    margin-bottom: 20px;
  }

  .clients {
    padding-bottom: 60px;
  } 

  .clients__title {
    padding-bottom: 10px;
  }

  .project__title {
    padding-bottom: 10px;
  }

  .project__swiper {
    height: 600px;
  }

  .project__slide-title {
    font-size: 24px;
  }

  .rewievs__title {
    padding-bottom: 10px;
  }

  .rewievs__list-part-name {
    font-size: 18px;
  }

  .blog__title {
    padding-bottom: 10px;
}

.rewievs__list-part-img-block {
  min-height: 350px;
}

  .footer__rigth-block-title {
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: end;
    white-space: nowrap;
  }

  .footer__left-block-title {
    margin-bottom: 15px;
  }

  .project__button-prev, .project__button-next {
    width: 50px !important;
    height: 50px !important;
  }

}

@media (max-width: 500px) {
  .hero__top-description {
    align-items: start;
  }

  .system__list li {
    min-height: 220px;
  } 

  .system__list {
    grid-template-columns: 47% 47%;
    grid-row-gap: 55px;
  }

  .system {
    padding-bottom: 35px;
  }

  .system__container {
    min-height: auto;
  }

  .rewievs {
    padding-bottom: 100px;
  }

  .tarifs__list-part-content-bottom-commission {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarifs__list-part-content-bottom-commission-count {
    margin-bottom: 15px;
  }

  .tarifs__list-part-content-bottom-commission {
    margin-bottom: 20px;
  }

  .blog__list {
    margin-bottom: 50px;
  }

  .header .header__nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}


}


@media (max-width: 480px) {

  .blog__list {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-row-gap: 30px;
    margin-bottom: 50px;
    justify-content: space-between;

  }

  .blog__list-part {
    display: grid;
    grid-template-columns: 100%;
    padding-right: 0%;
    padding-bottom: 40px;
  }

  .blog__list-part_img-block {
    height: 120px;
    margin-bottom: 10px;
  }

  .blog__btn {
    display: flex;
    align-self: center;
    flex-direction: row;
}
  .hero__top-description {
    display: inline-block;
    // text-align: center;
  }

  .blog__list-part-content {
    font-size: 10px;
    padding-left: 5%;
    padding-right: 2%;
  }

  .blog__list-part-content-link {
    font-size: 10px;
}

  .hero__green-text {
    font-size: 16px;
  }

  .hero__green-text {
    margin-left: 5px;
  }


  .hero__bottom-description {
    width: 100%;
  }

  .blog__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .system .title-left {
    left: 10px;
  }


  .system .title-top {
    top: -25px;
  }

  .system__list-part-title {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
  }


  .system .title-rigth {
    right: 0px;
  }

  .system .title-left {
    left: 0px;
  }

  .system .title-bottom {
    bottom: auto;
    top: -25px;
  }

  .system__list {
    grid-row-gap: 75px;
  }

  .system__title {
    margin-bottom: 65px;
  }

  .burger-btn {
    width: 35px;
    height: 35px;
  }
  .header__logo {
    display: block;
    // height: 40px;
    svg {
      // width: 133px;
      height: 35px;
    }
  }

  .tarifs__list-btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tarifs__list-part-description {
    font-size: 12px;
    margin: 0;
    padding: 0;
   
  }

  .tarifs__list-part-description:not(:last-child) {
    margin-bottom: 10px;
  }

  .tarifs__list-part-title {

    font-size: 14px;
    padding-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .tarifs__list-part-content-bottom-commission-count {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .tarifs__list-part-content-bottom-commission-desc {
    font-size: 12px;
  }
}

@media (max-width: 475px) {

  .services__list-part-img-container {
    min-height: 180px;
  }

  .services__list-part-img-container::after {
    box-shadow: 5px 5px 0px 1px #44ac33;
  }

  .system__list li {
    min-height: 200px;
  }

  .system .title-bottom {
    bottom: auto;
    top: -35px;
  }

  .system .title-top {
    top: -35px;
  } 

  .clients {
    padding-bottom: 70px;
  }

  .project__swiper {
    height: 600px;
  }

  .project__slide-title {
    font-size: 20px;
  }

  .rewievs {
    padding-top: 50px;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }
  .footer__middle-block {
    display: none;
  }

  .rewievs__list-part {
    width: 100%;
  }




  .project__button-prev, .project__button-next {
    width: 50px !important;
    height: 50px !important;
  }

  .tarifs__list-part-content {
    margin-bottom: 20px;
  }


  .rewievs__list-part-img-block {
    min-height: 300px;
  }

  .rewievs__list-part-name {
    font-size: 14px;
  }

  .rewievs__list-part-name-border {
    padding-top: 2px;
  }

  .rewievs .back {
    font-size: 10px;
    line-height: 19px;
  }
}

@media (max-width: 456px) {


  .services__list-part-img-container {
    min-height: 160px;
 }
  
  .important__form-input-btn-submit {
    width: 50%;
  }

  .important__form-legend-title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .textaria {
    min-height: 150px;
  }

  .system__list li {
    min-height: 200px;
  }

  .system__list-part-title {
    font-size: 12px;
}

}

@media (max-width: 426px) {

  .hero__top-description {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .hero__bottom-description {
    font-size: 12px;
  }

  .hero__title {
    font-size: 25px;
  }


  .system__list li {
    min-height: 170px;
    max-height: 170px;
}
}


@media (max-width: 407px) {
  .services__list-part-title {
    font-size: 10px;
  }

  .services__list-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 }


@media (max-width: 396px) {
  

  

  .advantages {
    padding-top: 35px;
    background-color: rgb(64, 64, 64);
    padding-bottom: 35px;
  }

  .advantages__list-part-content-title {
    font-size: 14px;
  }

  .advantages__list-part-content-description {
    font-size: 10px;
  }

  .advantages__title {
    margin-bottom: 15px;
   
  }

  .advantages__list-title {
    line-height: 14px;
    margin-bottom: 30px;
  }

  .advantages__list {
    margin-bottom: 30px;
  }

  .advantages__description {
    line-height: 14px;
  }

  .important__form-input-btn-submit {
    width: 100%;
  }

}

@media (max-width: 391px) { 

  .container {
    padding: 0 15px;
  }
  .hero {
    min-height: 700px;
    padding-top: 230px;
    padding-bottom: 150px;
  }

  .blog__list {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
}


  .rewievs__list-part-img-block {
    min-height: 250px;
  }


  .hero__title {
    font-size: 20px;
    margin-bottom: 20px;  
  }

  .advantages__title {
    padding-bottom: 0;
    border: none;
    text-align: start;
  }

  .advantages__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages__list-title {
    font-size: 12px;
    text-align: initial;
  }

  .advantages__description {
    font-size: 12px;
    text-align: initial;
  }



  .services__title {
    padding: 0;
    border: none;
    text-align: center;
  }

  .services__list-part-img-container {
    min-height: 160px;
  }

  .services__list-part-title {
    font-size: 10px;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .system .title-bottom {
    bottom: -30px;
    top: auto;
  }

  .system .title-top {
    top: auto;
    bottom: -30px;
  }


  .system__list li {
    min-height: 170px;
  }

  .system__title {
    margin-bottom: 35px;
  }

  .system {
    padding-bottom: 75px;
    min-height: auto;
    max-height: auto;
  }

  .services {
    padding-top: 55px;
  }

  .services__title {
    margin-bottom: 45px;
  }

  .services__list-part-title {
    padding-left: 0px;
    padding-right: 0px;
  }

  .rewievs__title {
    font-size: 16px;
  }
}


@media (max-width: 330px) {

  body {
    min-width: 350px;
    overflow-x: scroll;
  }

  // .container {
  //   padding: 0 15px;
  //   min-width: 320px;
  //   overflow: scroll;
  // }
}










