@import '../css/style.scss';
@import '../css/keyframes.scss';
@import '../css/sales.scss';


.vacation {
  padding-top: 165px;
  padding-bottom: 20px;
  background-image: url('../img/vacation-bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  min-height: 60vh;
  max-height: auto;
}

.vacation__article-title {
  color: $font-color-white;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 60px;
  line-height: 45px;
}

.vacation__accordion-container {
  font-size: 20px;
  color: $font-color-white;
  font-weight: 800;
}

.vacation__block .sales__block-title-container {
  margin-bottom: 50px;
}

.vacation__accordion-header {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid $font-color-green;
  cursor: pointer;
}

.vacation__fa-angle-down{
  color: $font-color-white;
  font-size: 40px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  
}

.ui-accordion-header-icon {
  display: none;
}

.vacation__accordion-header-text {
  font-size: 20px;
  color: $font-color-white;
  font-weight: 800;
}

.vacation__accordion-description {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid $font-color-green;
  position: relative;
}

.vacation__accordion-description-list-part-title {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 15px;
  color: $font-color-white;
}

.vacation__accordion-description-list-part-title-desc {
  color: $font-color-white;
  margin-bottom: 20px;
  font-weight: 400;
}

.vacation__accordion-description-list  {
  max-width: 80%;
}

.vacation__btn {
  position: absolute;
  right: 0;
  bottom: 50px;
  border: none;
  outline: none;
  background-color: $btn-green;
  color: $font-color-white;
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    background-color: rgba($btn-green, 0.7);
  }

  &:focus {
    background-color: rgba($btn-green, 0.7);
  }

  &:active {
    background-color: $btn-grey;
  }
}

.accordion-header.vacation__accordion-header.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active.ui-accordion-icons {
  .vacation__fa-angle-down {
    color: $font-color-green;
    transform: rotate(180deg);
  }
}

.accordion-header.vacation__accordion-header.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-icons.ui-state-hover.ui-accordion-header-active.ui-state-active {
  .vacation__fa-angle-down {
    color: $font-color-green;
    transform: rotate(180deg);
  }
}


@media (max-width: 1050px) {
  .vacation {
    padding-top: 200px;
    padding-bottom: 20px;
    background-image: url(../img/vacation-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    min-height: 60vh;
    max-height: auto;
  }
}


@media (max-width: 1000px) {
  .vacation__article-title {
    font-size: 27px;
  }

 }

 @media (max-width: 900px) {
  .vacation__accordion-header {
    padding-right: 10px;
  }

  .vacation__block {
    .sales__block-title {
      font-size: 30px;
    }

    .sales__block-title-border {
      padding-top: 4px;
      width: 55px;
      margin-bottom: 5px;
    }
  }

}

@media (max-width: 800px) {


  .vacation__accordion-description-list {
    max-width: 70%;
  }

  .vacation__accordion-description-list-part-title {
    font-size: 18px;
  }

  .vacation__accordion-description-list-part-title-desc {
    font-size: 16px;
  }
}

@media (max-width: 650px) { 

  .vacation {
    padding-top: 120px;
  }

  .vacation__block .sales__block-title-container {
    margin-bottom: 40px;
  }

  .vacation__accordion-header-text {
    font-size: 18px;
  }

  .vacation__fa-angle-down {
    font-size: 30px;
  }

  .vacation__accordion-description-list-part-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .vacation__accordion-description-list-part-title-desc {
    font-size: 14px;
  }

  .vacation__accordion-description {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vacation__btn {
    bottom: 40px;
  }
}

@media (max-width: 550px) {

  .vacation__block .sales__block-title {
    font-size: 25px;
  }

  .vacation__block .sales__block-title-container {
    margin-bottom: 30px;
  }

}

@media (max-width: 450px) {

  .vacation__accordion-description-list {
    max-width: 100%;
  }

  .vacation__btn {

    position: initial;
  }

  .vacation__accordion-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .vacation__accordion-header-text {
    font-size: 16px;
  }

  .vacation__accordion-description-list-part-title {
    font-size: 14px;
  }

  .vacation__block .sales__block-title {
    font-size: 22px;
  } 

  .vacation__block .sales__block-title-border {
    padding-top: 4px;
    width: 45px;
    margin-bottom: 7px;
    margin-right: 15px;
  }

 }

 @media (max-width: 390px) {

  .vacation__article-title {
    font-size: 24px;
    line-height: 40px;
 }

}

@media (max-width: 345px) {

  .vacation__block .sales__block-title-border {
    display: none;
  }

  .vacation__article-title {
    font-size: 22px;
    line-height: 38px;
  }

 }
